/* DON'T TOUCH THIS! */
body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 /* DON'T TOUCH THIS! */
 
 /* ==========================
     Write your solution here!
    ========================== */

body {
    font-family: 'Lato', sans-serif;
}

.btn {
    background-color: #ef5839;
    color: aliceblue;
    font-weight: 900;
    padding: 20px;
    text-decoration: none;
    display: block;
}

.btn:hover, .btn:focus {
    background-color: #d4b44c;
    color: #2e354f;
    font-size: 30px;