body {
    margin: 0;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
}

header {
    background-color: #2e354f;
    padding: 25px;   
}

h1 {
    text-align: left;
    color: white;
    font-weight: 900;
}

h2 {
    font-weight: 900;
    text-align: left;
    color: #ef5839;
}

p {
    text-align: left;   
}

h1, h2, p {
   width: 620px;
   margin: 25px auto;
   /*margin-left: 25px;*/ 
}

.myImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.centerPage {
    padding: 25px;
}

.footerPage {
    padding: 25px;
    background-color: #2e354f;
    color: aliceblue;
}

a {
    color: #ef5839;
}

a:hover {
    color: aqua;
}

a:focus {
    color: cadetblue;
}

.myButton {
    margin-top: 35px;
}

.btn_contact, 
.btn_moreInfo {
    font-weight: 900;
    text-decoration: none;
    padding: 12px 35px;
}

.btn_contact {
    background-color: #ef5839;
    color: white;
}

.btn_contact:hover {
    color: black;
    background-color: whitesmoke;
}

.btn_contact:focus {
    color: white;
    background-color: black;
}

.btn_moreInfo {
    background-color: #FFF;
    color: black;
    margin-left: 25px;
}

.btn_moreInfo:hover {
    color: whitesmoke;
    background-color: rgb(150, 146, 146);
}

.btn_moreInfo:focus {
    color: white;
    background-color: black;
}


