body {
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    text-align: center;
}

.title-text {
    font-size: 36px;
    color: white;
    background: #2e354f;
    text-transform: uppercase;
    padding: 20px;
    width: 500px;
    margin: 0 auto;
}

.text {
    width: 650px;
    margin: 0 auto;
}

.container {
    margin: 50px auto;
    width: 650px;
}

.section-title {
    text-transform: uppercase;
}

.underlined {
    color: #ef5839;
    text-decoration: underline;
}

.btn {
    text-decoration: none;
    background: #ef5839;
    padding: 10px;
    color: white;
    font-weight: 900;
    margin: 20px;
    display: inline-block;
}

.btn:hover, .btn:focus {
    background: #d4b44c;
    color: #2e354f;
}